.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Responsive grid */
    justify-content: center; /* Center grid in the container */
    align-items: center;
    gap: 2rem; /* Space between grid items */
    padding: 1rem; /* Add padding for spacing */
}

.project-content { 
    display: none; 
}

.project-content-active{ 
    display: block; 
}

.projects-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-1-5);
}

.project-button {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--section-heading-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.projects-button {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--section-heading-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.projects-content {
    position: relative;
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 1rem;
    max-height: 440px;
}

.project-content-active {
    display: block;
}

.projects-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.projects-icon {
    display: block;
    font-size: var(--h3-font-size);
    color: var(--section-headingle-color);
    padding: 0 1rem 1rem;
}

.projects-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    width: 225px;
}

.projects-button {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    padding: 0 1rem 1rem 1rem;
}

.projects-button:hover, .project-button:hover {
    color: var(--hover-color);
}

.projects-button-icon {
    font-size: 1rem;
    transition: 0.3s;
    transform: translateX(0.25rem);
}

.projects-img {
    width: 230px;
    height: 260px;
    border-radius: 1rem;
    margin-bottom: var(--mb-0-5);
    margin-top: var(--mb-1);
}

.projects-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.projects-modal-content {
    width: 1000px;
    position: relative;
    background-color: var(--container-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1.5rem;
}

.projects-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.projects-modal-title, .projects-modal-description, .projects-modal-subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
}

.projects-modal-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.projects-modal-subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.projects-modal-description {
    font-size: var(--normal-font-size);
    padding: 0 1rem 0;
    margin-top: var(--mb-0-5);
    margin-bottom: var(--mb-1);
    width: 100%;
    word-wrap: break-word;
    text-align: justify;
}

.projects-modal-services {
    row-gap: var(--mb-0-25);
}

.projects-modal-service {
    display: flex;
    align-items: center;
    column-gap: var(--mb-0-5);
    row-gap: var(--mb-0-25);
}

.projects-modal-icon {
    color: var(--text-color);
    font-size: 1.1rem;
}

.projects-modal-info {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-25);
}

.projects-modal-info-list {
    text-indent: 2em;
}

.projects-modal-info-sublist {
    text-indent: 3.5em;
    list-style-type: disc;
    list-style-position: inside;
}

/* Show the For more information section */
.projects-modal-service .link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* Style for the link to make it stand out */
.projects-modal-link {
    font-weight: var(--font-medium);
    color: var(--text-color);

}

.projects-modal-link:hover {
    color: var(--hover-color); /* Blue for visibility */
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1000px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .projects-content {
        max-width: 90%; /* Ensure it doesn't take up the full width */
        margin: 0 auto;
    }

    .projects-title, .projects-button {
        text-align: center;
    }
  }
  
/* For medium devices */
@media screen and (max-width: 770px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr; /* Show 2 columns */
        align-items: center;
        justify-items: center;
        gap: 0.5rem;
    }

    .projects-content {
        padding: 0.5rem 0.5rem 1.25rem 0.5rem;
        max-width: 100%;
        margin: 1rem 0;
    }

    .projects-title {
        text-align: justify;
    }

    .projects-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .projects-modal-content {
        padding: 2.5rem 1.5rem 2.5rem;
    }

    .projects-modal-description {
        padding: 0;
    }

    /* Hide all list items except "For more information" on small screens */
    .projects-modal-service:not(.link),
    .projects-modal-info.list,
    .projects-modal-info-list {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .projects-content {
        padding-right: 6rem;
    }
}
  