.projects-container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
}

.projects-content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--body-color);
    padding: 1rem;
    border-radius: 1rem;
}

.projects-icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.projects-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
    font-weight: var(--font-medium);
    color: var(--title-color-dark);
}

.projects-button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.projects-button:hover {
    color: var(--title-color-skills);
}

.projects-button-icon {
    font-size: 1rem;
    transition: 0.3s;
    transform: translateX(0.25rem);
}

.projects-img {
    width: fit-content;
    height: 240px;
    border-radius: 1rem;
    margin-bottom: var(--mb-0-5);
}

.projects-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.projects-modal-content {
    width: 1000px;
    position: relative;
    background-color: var(--container-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1.5rem;
}

.projects-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.projects-modal-title, .projects-modal-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
}

.projects-modal-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.projects-modal-description {
    font-size: var(--normal-font-size);
    padding: 0 1rem 0;
    margin-top: var(--mb-0-5);
    margin-bottom: var(--mb-1);
    width: 100%;
    word-wrap: break-word;
    text-align: justify;
}

.projects-modal-services {
    row-gap: var(--mb-0-25);
}

.projects-modal-service {
    display: flex;
    align-items: center;
    column-gap: var(--mb-0-5);
    row-gap: var(--mb-0-25);
}

.projects-modal-icon {
    color: var(--title-color-dark);
    font-size: 1.1rem;
}

.projects-modal-info {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-25);
}

/* Show the For more information section */
.projects-modal-service .link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* Style for the link to make it stand out */
.projects-modal-link {
    font-weight: var(--font-medium);
    color: var(--text-color);

}

.projects-modal-link:hover {
    color: var(--title-color-skills); /* Blue for visibility */
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1000px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .projects-content {
        max-width: 90%; /* Ensure it doesn't take up the full width */
        margin: 0 auto;
    }

    .projects-title, .projects-button {
        text-align: center;
    }
  }
  
/* For medium devices */
@media screen and (max-width: 770px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-content {
        padding: 0.5rem 0.5rem 1.25rem 0.5rem;
        max-width: 100%;
        margin: 1rem 0;
    }

    .projects-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .projects-modal-content {
        padding: 2.5rem 1.5rem 2.5rem;
    }

    .projects-modal-description {
        padding: 0;
    }

    /* Hide all list items except "For more information" on small screens */
    .projects-modal-service:not(.link),
    .projects-modal-info.list,
    .projects-modal-info-list {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-content {
        padding-right: 6rem;
    }
}
  