.about-container {
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    column-gap: 4rem;
}

.about-img {
    width: 450px;
    border-radius: 1.5rem;
    justify-content: center;
}

.about-info {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--mb-2);
    justify-content: space-around;
    gap: 2rem;
}

.about-box {
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 0.75rem;
    text-align: left;
    padding: 1rem 0.75rem 0.75rem 1rem;
}

.bullet-list {
    list-style-type: disc; /* Default bullet points */
    padding-left: 1rem; /* Adds space between bullets and text */
}

.about-icon {
    font-size: 1rem;
    color: var(--section-heading-color);
    margin-bottom: var(--mb-0-25);
}

.about-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--section-heading-color);
    font-family: var(--lora-font);
    margin-bottom: var(--mb-1);
}

.about-subtitle {
    font-size: var(--small-font-size);
}

.about-description {
    padding: 0 1rem 0 1rem;
    margin-bottom: var(--mb-1-25);
    text-align: justify;
    text-indent: 2em;
    max-width: 450px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 990px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about-img {
        width: 240px;
        justify-self: center;
    }

    .about-box {
        padding: 0.75rem 0.5rem;
    }

    .about-data {
        text-align: center;
    }

    .about-info {
        justify-content: center;
    }

    .about-description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}
  
  /* For medium devices */
@media screen and (max-width: 776px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-description {
        padding: 0;
    }
}
  
  /* For small devices */
@media screen and (max-width: 380px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-img {
        width: auto;
        height: auto;
    }
}