.home-container {
    row-gap: 7rem;
}
  
.home-content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}
  
.home-social {
    display: flex;
    /* grid-template-columns: max-content; */
    row-gap: 1rem;
    flex-direction: column;
}
  
.home-social-icon {
    font-size: 1.75rem;
    color: var(--nav-link-color);
}
  
.home-social-icon:hover {
    color: var(--hover-color);
}
  
.home-title {
    font-size: var(--h1-font-size);
}
  
.home-hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}
  
.home-subtitle {
  position: relative;
  font-size: var(--h2-font-size);
  text-align: center;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-1-5);
}

.home-subtitle::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 1rem;
}

.home-subtitle::after {
content: "";
position: absolute;
width: 80px;
height: 1px;
background-color: var(--text-color);
right: 0;
top: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between buttons */
  margin: 0 auto;
  max-width: 100%; /* Optional: you can set a specific max-width */
  padding: 10px;
}

.button {
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--text-color);
  background-color: var(--section-heading-color);
}

.button:hover {
  background-color: var(--hover-color);
  color: var(--body-color);
}
  
.home-description {
    max-width: 500px;
    margin-bottom: var(--mb-1);
    font-size: var(--h3-font-size);
    text-align: justify;
}
  
.home-img {
    background: url(../../assets/Dang_Chi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px var(--section-heading-color / 30%);
    order: 3;
    justify-self: right;
    width: 300px;
    height: 300px;
    animation: profile-animate 10s ease-in-out infinite 3s;
}
  
@keyframes profile-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
  
  
@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}
  
.home-scroll-name {
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    margin-top: var(--mb-1-5);
    margin-left: 2px;
}
  
.home-scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color-dark);
    margin-right: 2px;
}
  
/*=============== BREAKPOINTS ===============*/
  /* For large devices */
@media screen and (max-width: 992px) {
  .home-content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home-hand {
    width: 26px;
    height: 26px;
  }

  .home-subtitle {
    justify-self: unset;
    margin-bottom: var(--mb-1);
  }

  .home-subtitle::before {
    width: 120px;
    top: 0.8rem;
  }

  .home-subtitle::after {
    width: 120px;
    top: 0.8rem;
  }

  .home-description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }

  .home-img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
  }

  .home-scroll {
    margin-left: 7.5rem;
  }
}
  
/* For medium devices */
@media screen and (max-width: 770px) {
  .home-content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home-img {
    order: initial;
    justify-self: initial;
  }

  .home-data {
    grid-column: 1/3;
  }

  .home-img {
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;
  }

  .home-scroll {
    display: none;
  }

  .home-subtitle::after {
    width: 100px;;
  }

  .home-subtitle::before {
    width: 100px;
  }

  .button-container {
    justify-content: center;
  }
}
  
/* For small devices */
@media screen and (max-width: 350px) {
    .home-img {
        width: 180px;
        height: 180px;
    }

    .home-hand {
        width: 22px;
        height: 22px;
    }

    .home-subtitle::after {
      width: 80px;
    }

    .home-subtitle::before {
      width: 80px;
    }
}
  