.contact-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.contact-info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact-card {
    background-color: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
    color: var(--title-color-dark);
}

.contact-icon {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.contact-card-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact-card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
    color: var(--text-color);
}

.contact-card-data:hover {
    color: var(--title-color-skills);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .contact__container {
        column-gap: 3rem;
    }
}
  
  /* For medium devices */
@media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact__info {
        justify-content: center;
    }

    .contact__form {
        margin: 0 auto;
    }
}
  
@media screen and (max-width: 576px) {
    .contact__info {
        grid-template-columns: 1fr;
    }

    .contact__form {
        width: 100%;
    }
}
  
  /* For small devices */
@media screen and (max-width: 350px) {
    .contact__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}
  