.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    white-space: nowrap;
    font-family: "Playfair", serif;
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

.nav-logo {
    font-size: 2.25rem;
    display: left;
}

.nav-logo, .nav-toggle, .nav-link {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 580;
    font-size: var(--h2-font-size);
    transition: 0.35s;
}

.nav-close, .nav-icon {
    color: var(--icon-color);
}

.nav-close, .nav-toggle, .nav-icon {
    display: none;
}

/* Active link */
.nav-logo:hover, .active-link:hover, .nav-link:hover {
    color: var(--title-color-skills);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--container-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--icon-color);
    }

    .nav-close:hover {
        color: var(--title-color-skills);
    }

    .nav-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-icon, .nav-close, .nav-toggle {
        display: block;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }

    .nav-item i, .nav-item .nav-link {
        color: var(--title-color);
    }
}