.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background-color);
    white-space: nowrap;
    font-family: var(--playfair-font);
}

.nav {
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Adjust as needed */
    column-gap: 5rem;

}

.nav-logo {
    font-size: var(--h1-font-size);
    display: left;
    font-weight: var(--font-bold);
    color: var(--nav-link-color);
}

.nav-list {
    display: flex;
    column-gap: 1.8rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    color: var(--nav-link-color);
    transition: 0.35s;
}

.nav-close, .nav-toggle, .nav-icon {
    display: none;
}

.nav-toggle {
    color: var(--nav-link-color);
}

/* Active link */
.nav-logo:hover, .nav-link:hover {
    color: var(--hover-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
/* @media screen and (max-width: 1000px) {
    .projects-container {
        grid-template-columns: repeat(3, 218px);
    }
} */

/* For medium devices */
@media screen and (max-width: 770px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: var(--container-color);
        padding: 2rem 1.5rem 2rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        align-items: center;
        z-index: var(--z-fixed);
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: space-between;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--icon-color);
    }

    .nav-close:hover {
        color: var(--title-color-skills);
    }

    .nav-logo:hover, .nav-link:hover {
        color: var(--title-color-skills);
    }

    .nav-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-icon, .nav-close, .nav-toggle {
        display: block;
    }
}

/* For small devices */
@media screen and (max-width: 400px) {
    .nav-menu {
        padding: 3rem 0.25rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }
}