/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* ------------------------ GOOGLE FONTS STYLING ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --background-color: #B9D8E1;
  --section-heading-color: #629BB5;
  --text-color: #1B1B1B;
  --sub-text-color: #121524;
  --container-color: #BDC4D4;
  --nav-link-color: #1C2E4A;
  --hover-color: #69A06C; 

  /*========== Font and typography ==========*/
  --h-font: "Style Script", cursive;          /* will change to style scripts font*/
  --title-font: "Rouge Script", cursive;      /* will change to rough scripts font*/
  --body-font: "Crimson Text", sans-serif;    /* will change to crimson text font*/
  --sacramento-font: "Sacramento", cursive;
  --playfair-font: "Playfair", serif;
  --lora-font: "Lora", serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 1.85rem;
  --h3-font-size: 1.3rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-semi-semi-bold: 700;
  --font-bold: 850;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 30px;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

[data-theme="dark"]{
  --background-color: #0A122A;
  --section-heading-color: #629BB5;
  --text-color: #f3f4f3;
  --sub-text-color: #A8A9AD;
  --container-color: #1C2E4A;
  --nav-link-color: #C1E8FF;
  --hover-color: #679272;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App-header {
  background-color: var(--body-color-dark);
  color: var(--text-color);
}

h1 {
  color: var(--section-heading-color);
  font-weight: var(--font-bold);
  font-family: var(--lora-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3rem 0 2.5rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--section-heading-color);
  margin-bottom: var(--mb-1);
}

.section-subtitle {
  display: block;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  color: var(--sub-text-color);
}

.section-title, .section-subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--section-heading-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--hover-color);      /* Pick Green */
}

.button-icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1000px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button-icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 770px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 580px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}